{% extends 'base.html' %}

{% block title %}О нас - Универсальный сайт{% endblock %}

{% block content %}
<h1>О нас</h1>
<div class="row">
    <div class="col-md-8">
        <p class="lead">Мы - команда профессионалов, готовых предоставить вам лучшие товары и услуги.</p>
        <p>Наша компания работает на рынке уже много лет и зарекомендовала себя как надежный партнер. Мы ценим каждого клиента и стремимся к долгосрочным отношениям.</p>
        <h3>Наши преимущества:</h3>
        <ul>
            <li>Высокое качество продукции</li>
            <li>Профессиональная команда</li>
            <li>Индивидуальный подход</li>
            <li>Конкурентные цены</li>
            <li>Быстрое обслуживание</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Контактная информация</h5>
                <p class="card-text">
                    <strong>Телефон:</strong> +7 (xxx) xxx-xx-xx<br>
                    <strong>Email:</strong> info@example.com<br>
                    <strong>Адрес:</strong> г. Город, ул. Улица, д. 1
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}